<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}} {{#if code}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        {{#if @blog.logo}}
        <a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <h1 class="panel-cover__title panel-title"><a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}">{{@blog.title}}</a></h1>
        {{!-- <span class="panel-cover__subtitle panel-subtitle">Visual Designer</span> --}}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{@blog.description}}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{@blog.url}}/#blog" title="link to {{@blog.title}} blog" class="blog-button">Blog</a></li>
            </ul>
          </nav>

          {{> social}}

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
