{{!< default}}
{{#post ~}}
<header id="header" class="animated fadeIn"{{#if image}} style="background-image: url({{image}})"{{/if}}>
    <div class="header-background">
    <section class="blog-content">
        <a id="site-url" class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        <span class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    <section class="header-content">
        <h1 class="post-title animated fadeInUp">{{{title}}}</h1>
    </section>
    </div>
</header>
<main id="main" class="content">
    <article class="animated fadeIn content post {{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
    </article>
</main>
{{~/post}}