{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <span class="post-meta label"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>

            <section class="post-content">
                {{content}}
                        {{#if tags}}
                        <aside class="tags fi-pricetag-multiple">{{tags prefix="Posted on "}}</aside>
                        {{else}}
                        <aside class="tags fi-pricetag-multiple">No tag</aside>
                        {{/if}}
            </section>
            <hr>
            <footer class="post-footer">

                <section class="share">
                    <h4>Liked this post ? Share it.</h4>
                    <a class="fi-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    </a>
                    <a class="fi-social-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    </a>
                    <a class="fi-social-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    </a>
                </section>

                <section class="author">
                    <header>
                        <span>About the author</span>
                    </header>
                    <section>
                        <h4>{{author.name}}</h4>
                        {{#if author.image}}<img src="{{author.image}}">{{/if}}
                        {{#if author.location}}<span>{{author.location}}</span>{{/if}}
                        {{#if author.website}}<a href="{{author.website}}">{{author.website}}</a>{{/if}}
                    </section>
                    <footer>
                         <p>{{author.bio}}</p>
                    </footer>
                </section>

        <div class="clearfix"></div>
                    <hr>

            </footer>

        {{/post}}
        <h3 class="title-disqus"><span class="fi-comments"></span>Discussions</h3>



        {{#if @blog.disqus}}

        <section class="post-comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = '{{@blog.disqus}}'; // required: replace example with your forum shortname
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>

        {{/if}}

    </article>

</main>
