{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! The main content area on the homepage }}
<main class="content" role="main">

        <header class="tag-archive-header">
            <h1>{{tag.name}}</h1>
        </header>

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    {{#if featured}}
    <article class="{{post_class}}">
        <a href="{{url}}">{{content characters="1"}}</a>
        <div>
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
            <section class="post-excerpt">
                <p>{{excerpt characters="400"}}&hellip;</p>
            </section>
            <a class="button read-more right small" href="{{url}}">Read more</a>
            {{#if tags}}
            <aside class="tags fi-pricetag-multiple">{{tags prefix="Posted on "}}</aside>
            {{else}}
            <aside class="tags fi-pricetag-multiple">No tag</aside>
            {{/if}}
            <div class="clearfix"></div>
        </div>
    </article>
    {{else}}
    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt characters="400"}}&hellip;</p>
        </section>
        <a class="button read-more right small" href="{{url}}">Read more</a>
        {{#if tags}}
        <aside class="tags fi-pricetag-multiple">{{tags prefix="Posted on "}}</aside>
        {{else}}
        <aside class="tags fi-pricetag-multiple">No tag</aside>
        {{/if}}
        <div class="clearfix"></div>
    </article>
    {{/if}}

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>