<!DOCTYPE html>
<html style="background: url({{@blog.cover}}) center/cover no-repeat fixed">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>404, Houston, we have a problem</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
    {{ghost_head}}
  </head>
  <body>
    <article>
      <section>
        <div class="astro-wrap">
          <a class="astronaut" href="#" title="return to base"></a>
        </div>
        <div class="mayday">
          <h2>
            Houston, we've got a problem. <br>
            Houston, 404 error appeared.
          </h2>
          <hr class="divider short">
          <h2>
            What happens now?
          </h2>
        </div>
        <div class="astro-options">
          <a id="panic-button" class="btn small" href="#">Panic button</a>
          <a id="safe-button" class="btn small" href="/#open">Safe button</a>
        </div>
      </section>
    </article>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/uno-zen.js"}}"></script>
    {{> google-analytics}}
  </body>
</html>
