{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <a alt="Tweet '{{title}}'" href="https://twitter.com/intent/tweet?text={{encode title}}{{encode ' »'}}&amp;hashtags={{tags separator="," autolink="false"}}&amp;url={{url absolute="true"}}">
        {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
        <h1 class="icon-reverse icon-social-twitter-post" id="post-title">{{{title}}}</h1>
      </a>
    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

  </article>

{{/post}}
