{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}




{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    {{#if featured}}
    <article class="{{post_class}}">
        <a href="{{url}}">{{content characters="1"}}</a>
        <div>
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
            <section class="post-excerpt">
                <p>{{excerpt characters="400"}}&hellip;</p>
            </section>
            <a class="button read-more right small" href="{{url}}">Read more</a>
            {{#if tags}}
            <aside class="tags fi-pricetag-multiple">{{tags prefix="Posted on "}}</aside>
            {{else}}
            <aside class="tags fi-pricetag-multiple">No tag</aside>
            {{/if}}
            <div class="clearfix"></div>
        </div>
    </article>
    {{else}}
    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> </span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt characters="400"}}&hellip;</p>
        </section>
        <a class="button read-more right small" href="{{url}}">Read more</a>
        {{#if tags}}
        <aside class="tags fi-pricetag-multiple">{{tags prefix="Posted on "}}</aside>
        {{else}}
        <aside class="tags fi-pricetag-multiple">No tag</aside>
        {{/if}}
        <div class="clearfix"></div>
    </article>
    {{/if}}

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

    <div class="row">
        <footer class="small-16 columns site-footer">
            <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                  <section class="published">Proudly published with <a href="https://hubpress.github.io" target="_blank">HubPress</a></section>
                  <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                  <section class="theme-author">Theme (<a href="https://github.com/twogrey/ichi">download here</a>) developed by <a href="https://alexisdegryse.fr">Alexis Degryse</a></section>
            </div>
        </footer>
    </div>

</main>
