<footer role="contentinfo">
    <div class="inner">
        <div class="vcard">
            <a href="{{@blog.url}}/rss" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            {{#if @blog.logo}}
            <a href="{{@blog.url}}" class="photo circle">
                <span style="background-image: url('{{@blog.logo}}');">
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                </span>
            </a>
            {{/if}}

            <div class="details">
                <h4><a href="{{@blog.url}}" class="url n">{{@blog.title}}</a></h4>
                <a href="{{@blog.url}}" class="js-remove-domain-schema">{{@blog.url}}</a><br>
                <span>Published with <a href="https://hubpress.github.io">HubPress</a></span>
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{!-- TODO: Parse HTML for links --}}
                {{@blog.description}}
            </div>
        </div>
    </div>
</footer>
