<nav class="links fadeIn animated">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        {{#if socialnetwork.github}}
        <li class="github"><a title="GitHub" href="{{socialnetwork.github}}"><i class="fa fa-fw fa-github-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.facebook}}
        <li class="facebook"><a title="Facebook" href="{{socialnetwork.facebook}}"><i class="fa fa-fw fa-facebook-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.twitter}}
        <li class="twitter"><a title="Twitter" href="{{socialnetwork.twitter}}"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.googleplus}}
        <li class="googleplus"><a title="Google plus" href="{{socialnetwork.googleplus}}"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.instagram}}
        <li class="instagram"><a title="Instagram" href="{{socialnetwork.instagram}}"><i class="fa fa-fw fa-instagram"></i></a></li>
        {{/if}}
        {{#if socialnetwork.pinterest}}
        <li class="pinterest"><a title="Pinterest" href="{{socialnetwork.pinterest}}"><i class="fa fa-fw fa-pinterest-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.flickr}}
        <li class="flickr"><a title="Flickr" href="{{socialnetwork.flickr}}"><i class="fa fa-fw fa-flickr"></i></a></li>
        {{/if}}
        {{#if socialnetwork.linkedin}}
        <li class="linkedin"><a title="LinkedIn" href="{{socialnetwork.linkedin}}"><i class="fa fa-fw fa-linkedin-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.email}}
        <li class="email"><a title="Email" href="mailto:{{socialnetwork.email}}"><i class="fa fa-fw fa-envelope-o"></i></a></li>
        {{/if}}

    </ul>
</nav>
