{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>


{{#if socialnetwork.twitter}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.twitter}}" title="Twitter" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
{{/if}}
{{#if socialnetwork.github}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.github}}" title="Github" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
{{/if}}
{{#if socialnetwork.facebook}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.facebook}}" title="Facebook" target="_blank">
    <i class="fa fa-facebook"></i>Facebook
  </a>
</li>
{{/if}}
{{#if socialnetwork.googleplus}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.googleplus}}" title="Google+" target="_blank">
    <i class="fa fa-google-plus"></i>Google+
  </a>
</li>
{{/if}}
{{#if socialnetwork.instagram}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.instagram}}" title="Instagram" target="_blank">
    <i class="fa fa-instagram"></i>Instagram
  </a>
</li>
{{/if}}
{{#if socialnetwork.pinterest}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.pinterest}}" title="Pinterest" target="_blank">
    <i class="fa fa-pinterest"></i>Pinterest
  </a>
</li>
{{/if}}
{{#if socialnetwork.flickr}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.flickr}}" title="Flickr" target="_blank">
    <i class="fa fa-flickr"></i>Flickr
  </a>
</li>
{{/if}}
{{#if socialnetwork.linkedin}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.linkedin}}" title="LinkedIn" target="_blank">
    <i class="fa fa-linkedin"></i>LinkedIn
  </a>
</li>
{{/if}}
{{#if socialnetwork.paypalme}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.paypalme}}" title="PayPal.me" target="_blank">
    <i class="fa fa-paypal">
      <svg viewBox="0 0 256 302" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
        <g>
          <path d="M217.168476,23.5070146 C203.234077,7.62479651 178.045612,0.815753338 145.823355,0.815753338 L52.3030619,0.815753338 C45.7104431,0.815753338 40.1083819,5.6103852 39.0762042,12.1114399 L0.136468302,259.076601 C-0.637664968,263.946149 3.13311322,268.357876 8.06925331,268.357876 L65.804612,268.357876 L80.3050438,176.385849 L79.8555471,179.265958 C80.8877248,172.764903 86.4481659,167.970272 93.0324607,167.970272 L120.46841,167.970272 C174.366398,167.970272 216.569147,146.078116 228.897012,82.7490197 C229.263268,80.8761167 229.579581,79.0531577 229.854273,77.2718188 C228.297683,76.4477414 228.297683,76.4477414 229.854273,77.2718188 C233.525163,53.8646924 229.829301,37.9325302 217.168476,23.5070146" fill="#d3d3d3"></path>
          <path d="M102.396976,68.8395929 C103.936919,68.1070797 105.651665,67.699203 107.449652,67.699203 L180.767565,67.699203 C189.449511,67.699203 197.548776,68.265236 204.948824,69.4555699 C207.071448,69.7968545 209.127479,70.1880831 211.125242,70.6375799 C213.123006,71.0787526 215.062501,71.5781934 216.943728,72.1275783 C217.884341,72.4022708 218.808307,72.6852872 219.715624,72.9849517 C223.353218,74.2002577 226.741092,75.61534 229.854273,77.2718188 C233.525163,53.8563683 229.829301,37.9325302 217.168476,23.5070146 C203.225753,7.62479651 178.045612,0.815753338 145.823355,0.815753338 L52.2947379,0.815753338 C45.7104431,0.815753338 40.1083819,5.6103852 39.0762042,12.1114399 L0.136468302,259.068277 C-0.637664968,263.946149 3.13311322,268.349552 8.0609293,268.349552 L65.804612,268.349552 L95.8875974,77.5798073 C96.5035744,73.6675208 99.0174265,70.4627756 102.396976,68.8395929 Z" fill="#d3d3d3"></path>
          <path d="M228.897012,82.7490197 C216.569147,146.069792 174.366398,167.970272 120.46841,167.970272 L93.0241367,167.970272 C86.4398419,167.970272 80.8794007,172.764903 79.8555471,179.265958 L61.8174095,293.621258 C61.1431644,297.883153 64.4394738,301.745495 68.7513129,301.745495 L117.421821,301.745495 C123.182038,301.745495 128.084882,297.550192 128.983876,291.864891 L129.458344,289.384335 L138.631407,231.249423 L139.222412,228.036354 C140.121406,222.351053 145.02425,218.15575 150.784467,218.15575 L158.067979,218.15575 C205.215193,218.15575 242.132193,199.002194 252.920115,143.605884 C257.423406,120.456802 255.092683,101.128442 243.181019,87.5519756 C239.568397,83.4399129 235.081754,80.0437153 229.854273,77.2718188 C229.571257,79.0614817 229.263268,80.8761167 228.897012,82.7490197 L228.897012,82.7490197 Z" fill="#FFFFFF"></path>
          <path d="M216.952052,72.1275783 C215.070825,71.5781934 213.13133,71.0787526 211.133566,70.6375799 C209.135803,70.1964071 207.071448,69.8051785 204.957148,69.4638939 C197.548776,68.265236 189.457835,67.699203 180.767565,67.699203 L107.457976,67.699203 C105.651665,67.699203 103.936919,68.1070797 102.4053,68.8479169 C99.0174265,70.4710996 96.5118984,73.6675208 95.8959214,77.5881313 L80.3133678,176.385849 L79.8638711,179.265958 C80.8877248,172.764903 86.4481659,167.970272 93.0324607,167.970272 L120.476734,167.970272 C174.374722,167.970272 216.577471,146.078116 228.905336,82.7490197 C229.271592,80.8761167 229.579581,79.0614817 229.862597,77.2718188 C226.741092,75.623664 223.361542,74.2002577 219.723948,72.9932757 C218.816631,72.6936112 217.892665,72.4022708 216.952052,72.1275783" fill="#939393"></path>
        </g>
      </svg>
    </i>PayPal.me
  </a>
</li>
{{/if}}
{{#if socialnetwork.opencollective}}
<li class="drawer-list-item">
  <a href="{{socialnetwork.opencollective}}" title="Open Collective" target="_blank">
    <i class="fa fa-opencollective">
      <svg viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
          <g>
            <path d="M209.765144,128.149979 C209.765144,144.1633 204.864381,159.48989 196.498747,172.725072 L229.945675,206.171999 C246.682105,183.856759 255.729307,156.715152 255.729307,128.821102 C255.729307,99.5569917 245.974603,73.0710207 229.258944,51.4858128 L196.48314,84.214794 C205.122561,97.2224683 209.736907,112.48781 209.749537,128.103156 L209.765144,128.149979 Z" fill="#FFFFFF"></path>
            <path d="M127.513484,210.354816 C82.1460872,210.268958 45.3875094,173.517358 45.2930393,128.149979 C45.3617502,82.7643138 82.1278487,45.984257 127.513484,45.8983186 C144.244752,45.8983186 159.571342,50.7990817 172.119792,59.1647154 L204.864381,26.3889116 C182.54365,9.66665129 155.403429,0.630863298 127.513484,0.636494403 C57.1235437,0.636494403 0,57.7600381 0,128.149979 C0,198.508704 57.1235437,255.663463 127.513484,255.663463 C155.537352,255.740876 182.775989,246.40851 204.864381,229.161884 L171.417454,195.730564 C159.555734,205.485268 144.260359,210.354816 127.513484,210.354816 L127.513484,210.354816 Z" fill="#939393"></path>
          </g>
        </svg>
    </i>Open Collective
  </a>
</li>
{{/if}}
{{#if socialnetwork.email}}
<li class="drawer-list-item">
  <a href="mailto:{{socialnetwork.email}}" title="Email" target="_blank">
    <i class="fa fa-envelope-o"></i>Email
  </a>
</li>
{{/if}}
